0.0.0.0
gzip
cache
realip
proxy / http://frontend-service {
    transparent
    timeout 90s
}

log / stdout
push /dist

header / {

    # Enable cross site filter (XSS) and tell browser to block detected attacks
    X-XSS-Protection "1; mode=block"
    # Prevent some browsers from MIME-sniffing a response away from the declared Content-Type
    X-Content-Type-Options "nosniff"
    # Disallow the site to be rendered within a frame (clickjacking protection)
    X-Frame-Options "DENY"
}

expires {
    match .*.js$ 10d
    match .*.css$ 10d
}
